
body{
  background: #222831; 
  font-family: 'Segoe UI', sans-serif;
  color: azure;
}
img{
  max-width: 80%;
}
main, div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}